<launch>
    <group ns="/">
        <param name="in_image_topic" type="str" value="/usb_cam/image_raw"/>
        <param name="pre_crop" type="bool" value="false"/>
        <param name="pre_crop_topic" type="str" value="/darknet_ros/bounding_boxes"/>
        <node name="trt_estimator" pkg="irv_trt_pose" type="estimator.py" respawn="true" output="screen"></node>
    </group>
</launch>
